<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img src="assets/documento.svg" style="height: 20vh;"></ion-img>
          <ion-list-header>Menu</ion-list-header>
          <ion-note>tu@correo.com</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label color="medium">Title</ion-label>
            </ion-item>
            <ion-item routerLink="/login" lines="none" detail="false">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label color="medium">Salir</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
